# Paste your MongoDB Atlas connection string here, save as .env.production
MONGODB_URI=mongodb+srv://USER:PASSWORD@cluster0.xxxxx.mongodb.net/subdeals-pro?retryWrites=true&w=majority
FRONTEND_URL=https://subdeals-696aa.web.app
NODE_ENV=production
JWT_SECRET=subdeals-jwt-prod-secret-2026-secure
JWT_REFRESH_SECRET=subdeals-refresh-prod-secret-2026